# Server Configuration
PORT=3001
NODE_ENV=development
BASE_URL=http://localhost:3000

# Kanyon API
KANYON_LOGIN=your_login_here
KANYON_PASSWORD=your_password_here
KANYON_TSP_ID=your_tsp_id_here

# Telegram Bot
BOT_TOKEN=your_bot_token_here
BOT_CHAT_ID=your_chat_id_here
